/* File prepared by Jaskirat Kaur*/

@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Sansita+Swashed&display=swap');

body{
    font-family: 'Mukta', sans-serif; 
    color: #202b3a;
}
main
{
    height: 100%;
    width: 80%;
}

h1{
    font-family: 'Sansita Swashed', cursive; 
    text-align: center;
     margin-top: 40px;
    margin-bottom: 40px;
}
/* .text-center img
{
    height: 7%;
    width: 7%;
    margin-top: 2%;
    
} */


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  nav ul li {
    display: inline-block;
    margin: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
h3{
    font-family: 'Mukta', cursive; 
    text-align: center;
    margin-top: 20px;

}
h2{
    font-family: 'Sansita Swashed', cursive; 
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

}


.page-logo{
    height: 110px !important;
    width: 110px !important;
}

h5, span
{
  font-family: 'Sansita Swashed', cursive; 
    text-align: center;   
}
.photo
{
    align-content: center;
}



.nav-item:hover
{
    box-shadow: 0px 1px 0 0px #e83a0d inset, 0px -1px 0 0px #e83a0d inset;
}

 .container
{
    position: relative;
    background-size: cover;
    margin-bottom: 20px;
    margin-left: 23%;
}
.container img
{
    animation: Fade;
    animation-duration: 3s;

}

.max
{

    margin-left: 15%;
    margin-bottom: auto;
    margin-top: 3%;
}


.text-block
{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #D7DBDD;
    opacity: .8;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
    border-radius: 6%;
}

p{
     text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

main img
{
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.col mb-4
{
margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;

}
.card-body{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

}

.abc 
{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
}
.card-footer{
    
    position: absolute;
    bottom: 0;
    width: 88%;
    height: 2.4rem;
    text-align: center;
    
}
@keyframes Fade{
    from {opacity: 0%;}
    to{opacity: 100%;}
}

footer{
    text-align: center;

}

.aligner{
    margin-left: 23%;
}

